<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Maintenance Mode!</h1>
    <p>We will soon be back online. Sorry for any inconvinence caused!</p>

<%- include('includes/end.ejs') %>